{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'review/home.css' %}">
{% block content %}
    <div class="create__post">
        <a href="{% url 'ticket-create' %}">Créer un ticket</a>
        <a href="{% url 'review-without-ticket' %}">Créer une critique</a>
    </div>
    {% for ticket in tickets %}
    <div class="ticket">
        <div class="ticket__settings">
            <p class="ticket__user">{{ ticket.user }}</p>
            <p class="ticket__time">{{ ticket.time_created }}</p>
        </div>
        <p class="ticket__title">{{ ticket.title }}</p>
        <p class="ticket__description">{{ ticket.description }}</p>
        <img src="{{ ticket.photo.image.url }}">
        <div class="ticket__options">
            {% if perms.review.change_ticket %}
            <a href="{% url 'ticket-update' ticket.id %}">[Modifier]</a>
            {% endif %}
            {% if perms.review.delete_ticket %}
            <a href="{% url 'ticket-delete' ticket.id %}">[Supprimer]</a>
            {% endif %}
            <a href="{% url 'review-ticket-create' ticket.id %}">[Ecrire une critique]</a>
        </div>
    </div>
    {% endfor %}

    {% for review in reviews %}
    <p>{{ review.user }}<br>
    {{ review.time_created }}<br>
    {{ review.headline }} - {{ review.rating }}<br>
    {{ review.body }}<br>
    {{ review.ticket.title }}<br>
    {{ review.ticket.user }}<br>
    {{ review.ticket.description }}<br>
    <img src="{{ review.ticket.photo.image.url }}"><br>
    {% if perms.review.change_review %}
    <a href="{% url 'review-update' review.id %}">[Modifier]</a>
    {% endif %}
    {% if perms.review.delete_review %}
    <a href="{% url 'review-delete' review.id %}">[Supprimer]</a>
    {% endif %}
    <br><br>
    {% endfor %}
{% endblock content %}