{% extends 'base.html' %}
{% block content %}
<p class="message">{{ message }}</p>
<div class="formHolder">
    <h1 class="titleForm">Connectez-vous !</h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="button__holder">
            <button type="submit">Se connecter</button>
        </div>
    </form>
    {%  if not user.is_authenticated %}
    <p>Pas encore membre ?
        <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a>
    </p>
    {% endif %}
{% endblock content %}